<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
    max-width: 100%;
    height: auto;
}
.feeds {
    max-width: 100%;
}
</style>
</head>
<body>
<div class="feeds">
{{range .FeedGroups}}
<div style="margin-bottom: 10px;">
<h1 style="margin-bottom: 3px;"><a href="{{.FeedURL}}">{{.FeedName}}</a></h1>
</div>

<div class="summary">
<h2>Entries</h2>
{{range .Items}}
<ul>
<li><a href="{{.Link}}">{{.Title}}</a></li>
</ul>
{{end}}
</div>

{{if $.Inline}}
<div>
{{range .Items}}
<div>
<h1><a href="{{.Link}}">{{.Title}}</a></h1>
<div>{{.Content}}</div>
</div>
<hr />
{{end}}
</div>
{{end}}

<hr style="margin: 10px 0;" />
{{end}}
</div>
</body>
</html>
